#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

/* definitions for mouse layer */
#include "mouse.dtsi"

#define ___ &trans

#define COLEMAK 0
#define QWERTY 1
#define NUM 2
#define SYM 3
#define FN 4
#define MOD 5
#define MS 6
#define NAV 7
#define MEDIA 8
#define QUICK 9

#include "custom_behaviors.h"

/ {
    /* remove unused keys from layout and move thumb cluster to bottom */
    chosen {
        zmk,matrix_transform = &urobs_transform;
    };

    keymap {
        compatible = "zmk,keymap";

// Colemak base
        colemak_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                &kp ESC        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5         &tog NUM         &mo MOD        &kp N6        &kp N7        &kp N8        &kp N9        &kp N0         LOCK_SCRN
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                &kp GLOBE      &kp Q         &kp W         &kp F         &kp P         &kp B          SWAP_PREV        &tog MS        &kp J         &kp L         &kp U         &kp Y         &kp SQT        &kp PIPE
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                &kp TAB        &hml LCTRL A  &hml LALT R   &hml LGUI S   &hmls LSHFT T &kp G          &swapper         &to QWERTY     &lt MEDIA M   &hmrs RSHFT N &hmr RGUI E   &hmr RALT I   &hmr LCTRL O   &kp GRAVE
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                &kp LSHFT      &kp Z         &kp X         &kp C         &kp D         &kp V                                          &kp K         &kp H         &comma_morph  &dot_morph    &qexcl         &kp RSHFT
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                &mo FN         &num_word     &sk LHYP      &kp C_VOL_DN  &kp C_VOL_UP                                                               &kp C_BRI_DN  &kp C_BRI_UP  &sk RHYP      &caps_dance    &mo MEDIA
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        &mo NAV       &caps_dance      &num_word     &kp ESC
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                         &lt_del SYM 0  SHFT_NUM      &lt MS HOME      &lt FN PG_UP  &lt NUM ENTER &lt_spc NAV 0
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      &lt QUICK END    &lt QUICK PG_DN
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯

            >;
        };

 // qwerty
        qwerty_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                ___            ___           ___           ___           ___           ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            &kp Q         &kp W         &kp E         &kp R         &kp T          ___              ___            &kp Y         &kp U         &kp I         &kp O         &kp P          &kp BSLH
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            &hml LCTRL A  &hml LALT S   &hml LGUI D   &hml LSHFT F  &kp G          ___              &to COLEMAK    &kp H         &hmr RSHFT J  &hmr RGUI K   &hmr RALT L   &hmr LCTRL SEMI &kp SQT
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            &kp Z         &kp X         &kp C         &kp V         &kp B                                          &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH       ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        ___           ___           ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        ___           ___              ___           ___
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                         ___            ___           ___              ___           ___            ___
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };


        num_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                ___            ___           ___           ___           ___           ___             ___              ___            ___          ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___             ___              ___            ___          &kp N7        &kp N8        &kp N9        ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            &kp LCTRL     &kp LALT      &kp LGUI      &kp LSHFT     ___             ___              ___            ___          &kp N4        &kp N5        &kp N6        ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___                                             ___          &kp N1        &kp N2        &kp N3        ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        ___           ___           ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        ___           ___              ___           ___
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                          ___           ___           ___              ___           CANCEL        &kp N0
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        sym_layer {
          bindings = <
            //            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
            ___            &kp EXCL      &kp AT        &kp HASH      &kp DOLLAR    &kp PRCNT       ___              ___            &kp CARET    &kp AMPS      &kp STAR      ___           ___            ___
            //            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
            ___            &kp TILDE     &kp PIPE      &kp PLUS      &kp EXCL      ___             ___              ___            ___          &kp LBRC      &kp RBRC      &kp PERCENT   &kp GRAVE      ___
            //            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
            ___            SYM_AT        SYM_LT        SYM_MINUS     SYM_EQUAL     &kp GT          ___              ___            &kp CARET    SYM_LBKT      SYM_RBKT      SYM_DOLLAR    SYM_FSLH       ___
            //            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
            ___            &kp BSLH      &kp AMPS      &kp HASH      &kp QMARK     &kp STAR                                        ___          &kp LPAR      &kp RPAR      &kp EQUAL     &kp EXCL       ___
            //            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
            ___            ___           ___           ___           ___                                                                        &kp LT        &kp GT        ___           ___            ___
            //            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
            ___           ___              ___           ___
            //                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
            ___           ___           ___              ___           ___           ___
            //                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
            ___              ___
            //                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        fn_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                &kp F1         &kp F2        &kp F3        &kp F4        &kp F5        &kp F6         ___              ___            &kp F7        &kp F8        &kp F9        &kp F10       &kp F11        &kp F12
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           &kp F6        &kp F7        &kp F8        &kp F9         ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            &kp F1        &kp F2        &kp F3        &kp F4        &kp F5         ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           &kp F10       &kp F11       &kp F12       ___                                            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        ___           ___           ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        ___           ___              ___           ___
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                          ___           ___           ___              ___           ___           ___
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        mod_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                ___            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   ___              ___            &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4   ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___                                            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        &bl BL_DEC    &bl BL_INC    ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        &bootloader   ___              ___           &bootloader
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                          ___           &bl BL_TOG    &bt BT_CLR       &bt BT_CLR    &bl BL_TOG    ___
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        mouse_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                ___            ___           ___           ___           ___           ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___            ___              ___            U_WH_L        U_WH_U        U_WH_D         U_WH_R       ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___            ___              ___            U_MS_L        U_MS_D        U_MS_U         U_MS_R       ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___           ___                                            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        ___           ___           ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                       ___            ___              ___            U_BTN3
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                         ___           &tog MS        ___              ___            U_BTN2        U_BTN1
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        nav_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                ___            ___           ___           ___           ___           ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            SPC_UNDO      SPC_LEFT      SPC_UP        SPC_DOWN      SPC_RIGHT      SPC_MVL          ___            NAV_BSPC      &kp PG_DN     &kp PG_UP     NAV_DEL       ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            PREV_WINDOW   NEXT_WINDOW   NAV_STAB      NAV_TAB       SPC_FULL       SPC_MVR          ___            NAV_LEFT      NAV_DOWN      NAV_UP        NAV_RIGHT     &kp RET        ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            DSK_PREV      DSK_NEXT      SWAP_PREV     &swapper      ___                                            &kp LS(TAB)   &kp TAB       &kp ESC       ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        ___           ___           ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        ___           ___              ___           ___
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                          &kp BSPC      &kp ESC       ___              ___           ___           ___
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        media_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                ___            ___           ___           ___           ___           ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           &kp C_VOL_DN  &kp C_VOL_UP  ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           &kp C_PREV    &kp C_PP      &kp C_NEXT    ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           &kp C_MUTE    ___                                            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        ___           ___           ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        ___           ___              ___           ___
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                          ___           ___           ___              ___           &kp C_MUTE    &kp C_PP
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        quick_layer {
            bindings = <
//            ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮  ╭─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────╮
                ___            ___           ___           ___           ___           ___            ___              ___            ___           ___           ___           ___           ___            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            Q_Q           Q_W           Q_F           Q_P           Q_B            ___              ___            Q_J           Q_L           Q_U           Q_Y           Q_SQT          ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤  ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            Q_A           Q_R           Q_S           Q_T           Q_G            ___              ___            Q_M           Q_N           Q_E           Q_I           Q_O            ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤╰─────────────╯  ╰─────────────╯├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            Q_Z           Q_X           Q_C           Q_D           Q_V                                            Q_K           Q_H           Q_COMMA       Q_DOT         Q_QMARK        ___
//            ├─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯                                ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┤
                ___            ___           ___           ___           ___                                                                        ___           ___           ___           ___            ___
//            ╰─────────────╯╰─────────────┴─────────────┴─────────────┴─────────────╯╭─────────────┬─────────────╮  ╭─────────────┬─────────────╮╰─────────────┴─────────────┴─────────────┴─────────────╯╰─────────────╯
                                                                                        ___           ___              ___           ___
//                                                                      ╭─────────────┼─────────────┼─────────────┤  ├─────────────┼─────────────┼─────────────╮
                                                                          ___           ___           ___              ___           ___           ___
//                                                                      │             │             ├─────────────┤  ├─────────────┤             │             │
                                                                                                      ___              ___
//                                                                      ╰─────────────┴─────────────┴─────────────╯  ╰─────────────┴─────────────┴─────────────╯
            >;
        };


    };



};

